<div>
  <ul>
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/portfolio']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Portfolio</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/redirect']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Redirect</a
      >
    </li>
  </ul>
</div>
